.d-block {
    filter: brightness(50%);
}

#honolulu {
    width: 100%;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: auto;    
  }
  
.form input {
    width: 297px;
    height: 30px;
    margin-bottom: 1rem;
    font-size: small;
  }

.form textarea {
    width: 100%;
    height: 100%;
    resize: both;
}

.text-secondary{
    font-size:smaller;
}

.form button {
    width: 100%;
    align-items: center;
}
  